.App {
  text-align: center;
}

.App-logo {
  height: 130px;
}

.App-header {
  background-color: #222;
  height: 210px;
  padding: 20px;
  color: white;
  background-image: linear-gradient(rgba(46, 43, 43, 0.4), rgba(20, 35, 62, 0.4)), url("./assets/header.png");
  background-position: center;
  background-size: cover;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  width: 80%;
  margin: auto;
}

